#hcan {
    border: 1px solid saddlebrown;
    position: absolute;
}


/*.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}*/

#container {
    background: url("mov.gif");
    position: absolute;
    width: 70%;
    height: 70%
}

#ship {
    position: relative;
    bottom: 00px;
    left: 90%;
    width: 5%;
}

#ship img {
    width: 100%;
}