#hcan {
    border: 1px solid saddlebrown;
    position: absolute;
}

#container {
    background: url("../images/mov.gif");
    position: absolute;
    z-index: auto;
    width: 95%;
    height: 95%;

}

#ship {
    position: relative;
    bottom: 00px;
    left: 10%;
    width: 3.5%;
}


.nocursor {
    cursor:none;
}



.hidden {
    display: none;
}

.char {
    background-image: url('mov.gif');
    height: 100%;
}

.start {
    background-image: url('mov.gif');
    height: 100%;
}

.im {
    position: relative;
    width: 20%;
    height: 20%;
    bottom: -400px;
    left: 500px;
}

.imstart {
    position: relative;
    width: 15%;
    height: 15%;
    bottom: -120px;
    left: -400px;
}

.im1 {
    position: relative;
    width: 5%;
    height: 15%;
    top: 280px;
    left: 190px;
}

.im2 {
    position: relative;
    width: 10%;
    height: 20%;
    top: 190px;
    left: 80px;
}

.im3 {
    position: relative;
    width: 10%;
    height: 20%;
    bottom: -80;
    left: -60px;
}

.logo {
    position: relative;
    width: 75%;
    height: 75%;
    top: 10px;
    left: 160px;
}

.menu {
    position: relative;
    left: 500;
    bottom: 75;
}

@import url('http://fonts.googleapis.com/css?family=Lato');
.container {
    display: block;
    position: relative;
    margin: auto;
    height: 450px;
    width: 400px;
    bottom: 0;
    left: 0;
    right: 100px;
    top: 0;
    padding: 0;
}

h2 {
    position: relative;
    color: palegoldenrod;
    font-weight: bolder;
    align-content: center;
    font-size: 36;
    top: -50;
    left: -500;
    border-bottom: 5px palegoldenrod;
    border-bottom-style: solid;
}

.container ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    top: -65;
    width: 100%;
    height: 100px;
}

ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
}

ul li:hover label {
    color: #FFFFFF;
}

ul li .check {
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
}

ul li .check::before {
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
}

input[type=radio]:checked~.check {
    border: 5px solid tomato;
}

input[type=radio]:checked~.check::before {
    background: tomato;
}

input[type=radio]:checked~label {
    color: tomato;
}

.main {
    background-image: url('mov.gif');
    height: 100%;
}

.chosenrocket {
    position: absolute;
    left: 600;
    bottom: 10;
    width: 15%;
    height: 25%;
}


/*--------------------------------------*/

#level {
    position: absolute;
    right: 300px;
    top: 10px;
    z-index: 300;
    opacity: 0.65;
}

#livesh2 {
    float: left;
    margin-right: 1em;
    font-size: 10;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    color: gainsboro;
}

#level p {
    float: left;
    width: 1em;
    margin-right: 1em;
    font-weight: bold;
    line-height: 21px;
    color: gainsboro;
}

#level div {
    float: left;
    width: 100px;
    height: 5px;
    overflow: hidden;
    margin-top: 7px;
    background-color: #7F7F7F;
}

#level div div {
    float: none;
    width: 0;
    height: 5px;
    overflow: hidden;
    margin-top: 0;
    background-color: #FF0000;
}

#lives {
    position: absolute;
    right: 150px;
    top: 10px;
    height: 21px;
    overflow: hidden;
    z-index: 300;
    padding-right: 75px;
    background-image: url('lives.gif');
    background-repeat: no-repeat;
    background-position: 100% 0;
}

* html #lives {
    filter: alpha(opacity=65);
}

.lost1 {
    background-position: 100% -21px !important;
}

.lost2 {
    background-position: 100% -42px !important;
}

.lost3 {
    background-position: 100% -63px !important;
}

#lives h2 {
    font-size: 100%;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
}

#score {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 300;
    opacity: 0.65;
}

* html #score {
    filter: alpha(opacity=65);
}

#score h2 {
    float: left;
    margin-right: 1em;
    font-size: 24;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 21px;
    color: white;
}

#score p {
    float: left;
    width: 3em;
    font-weight: bold;
    line-height: 21px;
    color: gainsboro;
}
